Name : Akshat Deshmukh

PRN : 25070123008

Batch :    ENTC A1

In [1]:
## Python Lists
students=["max","john" ,"shawn"]
print(students)

['max', 'john', 'shawn']

In [2]:
#List Length
students=["max","john" ,"shawn"]
print(len(students))

3

In [3]:
#List with strings integer and boolean values
list1=["A", 54,True,4+8j]
list1
print(list1)

['A', 54, True, (4+8j)]

In [4]:
#Access List
sports=["Cricket","Football","Hockey"]
print(sports[2])

Hockey

In [5]:
#Reverse/Negative Indexing
sports=["Cricket","Football","Hockey"]
print(sports[-2])

Football

In [6]:
#slicing
letters=["A","B","C","D","E","F","G","H"]
print(letters[2:6])

['C', 'D', 'E', 'F']

In [7]:
num=[1,2,3,4,5,6,7,8,9,0]
print(num[:5])
print(num[7:])
print(num[::4])

[1, 2, 3, 4, 5]
[8, 9, 0]
[1, 5, 9]

In [8]:
#Changing values from the list
sports=["Cricket","Football","Hockey"]
sports[1]="Badminton"
print(sports)

['Cricket', 'Badminton', 'Hockey']

In [9]:
#Append items
sports=["Cricket","Football","Hockey"]
sports.append("Badminton")
print(sports)

['Cricket', 'Football', 'Hockey', 'Badminton']

In [10]:
#Insert items
sports=["Cricket","Football","Hockey"]
sports.insert(2,"Badminton")
print(sports)

['Cricket', 'Football', 'Badminton', 'Hockey']

In [12]:
#Extend list
sports=["Cricket","Football","Hockey"]
thislist=['A',3,True]
sports.extend(this)
print(sports)

['Cricket', 'Football', 'Hockey', 'A', 3, True]

In [ ]:
#Searhing items
thislist=[1,3,4,6,7,9]
3 in thislist

True

In [ ]:
#Slicing Contd
List1=[12,54,6,34,74,32]
print(List1[1:3])
print(List1[1:3:1])
print(List1[2:5:2])
print(List1[1:4:3])
print(List1[-1:-3:-1])

[54, 6]
[54, 6]
[6, 74]
[54]
[32, 74]

In [20]:
#Problem-1
marks=[78,85,90,66,88]
print('Max marks : ', max(marks))
print('Min marks : ',min(marks))
print('Total marks : ', sum(marks))
print(len(marks))
print('Average marks: ', sum(marks)/len(marks))
marks.sort()
print(marks)

Max marks :  90
Min marks :  66
Total marks :  407
5
Average marks:  81.4
[66, 78, 85, 88, 90]

In [21]:
#Problems-2
'''2. Grocery Shopping List
A user maintains a grocery list for monthly shopping
Tasks:
* Create a grocery list
* Add new items to list
* Remove purchased items
*display the final shopping list
Concepts Used: append(),remove(),indexing'''

grocery = ['fruits', 'oil', 'sugar', 'bottle', 'rice']

grocery.append('ghee')
grocery.remove('oil')

print(grocery)
print(grocery[3])

['fruits', 'sugar', 'bottle', 'rice', 'ghee']
rice

In [22]:
#Problem-3
'''3. A person stores phone contacts in a list.
Tasks:
*Display the list
*Add a new Contact
*Remove a contact
*Arrange the contacts in alphabetical order
Concepts used: sort()...
'''

contacts = ['max', 'john', 'charles', 'billy', 'andy']

contacts.append('trent')
contacts.remove('billy')
contacts.sort()
print(contacts)

['andy', 'charles', 'john', 'max', 'trent']

In [23]:
#Problems-4
''' 4. Temperature Analysis
Daily temperature readings of a city are stored in a list for 10 days
* Display temperatures of first and last 5days
* Find highest and lowest temp
* Calculate average temp
Concepts used: max(),min(),sum()'''

# Temperature analysis
temp = [24, 26, 27, 32, 34, 22, 24, 30, 28, 27]

print(temp[0:5])
print(temp[5:-1])

print("Highest temp: ", max(temp))
print("Lowest temp: ", min(temp))
print("Average temp: ", sum(temp) / len(temp))

[24, 26, 27, 32, 34]
[22, 24, 30, 28]
Highest temp:  34
Lowest temp:  22
Average temp:  27.4